{include file='./head.tpl'}

<div class="col-sm-6 col-sm-offset-3">
	<div class="alert alert-danger">
		绑定失败
	</div>
</div>

<div class="col-sm-6 col-sm-offset-3">
	<a class="btn btn-primary" href="index.php?m=TelegramBot&action=bind">
		重试
	</a>

	<a class="btn btn-primary" href="index.php?m=TelegramBot">
		返回
	</a>
</div>

{include file='./foot.tpl'}