{include file='./head.tpl'}

<script async src="https://telegram.org/js/telegram-widget.js" data-telegram-login="{$params["username"]}"
	data-size="large" data-auth-url="{$params['systemurl']}index.php?m=TelegramBot&action=bind" data-request-access="write">
</script>

<div class="col-sm-6 col-sm-offset-3">
	<div class="form-group text-center">
		<a class="btn btn-primary" href="index.php?m=TelegramBot">
			返回
		</a>
	</div>
</div>

{include file='./foot.tpl'}