{include file='./head.tpl'}

<div class="col-sm-6 col-sm-offset-3">
	<div class="alert alert-danger">
		登录失败
	</div>
</div>

<div class="col-sm-6 col-sm-offset-3">
	<a class="btn btn-primary" href="index.php?m=TelegramBot&action=oauth">
		重试
	</a>
</div>

{include file='./foot.tpl'}